@import "geist/dist/fonts/geist-sans/style.css";
@import "geist/dist/fonts/geist-mono/style.css";
@import 'tailwindcss';

@source '../../../views/';

@theme {
    --font-sans: 'Geist', system-ui, sans-serif;
    --font-mono: 'Geist Mono', ui-monospace, monospace;

    --color-brand-accent: #38bdf8; /* Better visibility than brand primary color in dark mode */
    --color-brand-accent-hover: #7dd3fc;

    --color-brand-bg: #0f172a;
    --color-brand-surface: #1e293b;
}

@layer base {
    body {
        @apply bg-brand-bg text-slate-400;

        /* Antialiasing is required in dark mode! */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply text-white font-extrabold tracking-tight;
    }

    ::selection {
        @apply bg-brand-accent text-brand-bg;
    }
}

:root {
    /* In dark mode glow works better than shadow */
    --brand-glow: 0 4px 30px rgba(56, 189, 248, 0.15);
}
