@import "@fontsource/geist-sans";
@import "@fontsource/geist-mono";
@import 'tailwindcss';

@source '../../../views/';

@theme {
    --font-sans: 'Geist Sans', system-ui, sans-serif;
    --font-mono: 'Geist Mono', ui-monospace, monospace;

    --color-brand-accent: #38bdf8;
    --color-brand-accent-hover: #7dd3fc;

    --color-brand-bg: #0f172a;
    --color-brand-surface: #1e293b;
}

@layer base {
    body {
        @apply bg-brand-bg text-slate-400 antialiased;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply text-white font-extrabold tracking-tight;
    }

    ::selection {
        @apply bg-brand-accent text-brand-bg;
    }
}

:root {
    /* In dark mode glow works better than shadow */
    --brand-glow: 0 4px 30px rgba(56, 189, 248, 0.15);
}
